.ni-large{
    font-size: 1.5rem;
}

.borderclassic{
    border: 2px solid black;
}

.inputhiden{
    visibility: hidden;
}

.textarea{
    width: 50%;
    height: 50vh;
    padding: 20px;
    font-size: 1rem;
    outline: none;
}

.markdown{
    width: 100%;
    height: auto;
    padding: 20px;
}

.ul-session li{
    list-style: none;
    display: flex;
    align-items: center;
}

.ul-session li:nth-child(1n+2){
    margin-top: 25px;
}

.ul-session li p {
    margin-bottom: 0px;
}

.ul-session .alignPlayer p:last-child{
    font-size: 14px;
}

.markdown-align{
    display: flex;
}

::placeholder {
    padding: 10px;
}

.search-bar-input{
    width: 50vh;
}

.home-large{
    height: 100vh;
}

.home-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-margin{
    margin-left: 20px;
}

.inlineblockdiv{
    display: inline-flex;
}

.alignPlayer {
    display: inline-block;
    text-shadow: 10px 10px 3px black;
    text-shadow: inherit;
}

.profile-image-creator img {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.profile-image-creator {
    padding-top: 10%;
    position: relative;
}

.profile-image-creator img {
    max-width: 150px;
    border-radius: 0.25rem;
    transform: translate(-50%, -30%);
    position: relative;
    left: 50%;
    transition: all 0.15s ease;
}

.profile-image-creator img:hover {
    transform: translate(-50%, -33%);
}

.borderleft{
    border-left: 2px;
    border-radius: 2px;
    border-style: inherit;
}

.rowtest{
    display: flex;
    flex-wrap: wrap;
    padding-right: -15px;
    padding-left: -15px;
}

.alignbutton-center{
    margin: 0 auto;
};

.input-module{
    width: 30em;
}

.description-module{
    /*height: 15em;*/
    /*width: 30em;*/
}

.text-darkerer h1{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer h2{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer h3{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer h4{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer h5{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer h6{
    color: black !important;
    font-weight: 600 !important;
}

.text-darkerer p{
    font-size: 1rem !important;
    font-weight: 300 !important;
    line-height: 1.7 !important;
    color: black !important;
}

.text-darkerer img{
    margin: auto !important;
    width: 45% !important;
}

.text-darkerer ul{
    color: black !important;
}

.text-darkerer li{
    color: black !important;
}

.column-display{
    display: flex;
    flex-direction: column;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.5em;
    text-align: justify;
    word-break: break-word;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #ffffff;
    padding: 0 0px 0 0.25em;
}
.wordBreak{
    word-break: break-word;
}
.invalid{
    border-color: #fb6340;
    padding-right: calc(1.5em + 1.25rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fb6340' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fb6340' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.3125rem);
    background-size: calc(0.75em + 0.625rem) calc(0.75em + 0.625rem);
}
.valid{
    border-color: #2dce89;
    padding-right: calc(1.5em + 1.25rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232dce89' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.3125rem);
    background-size: calc(0.75em + 0.625rem) calc(0.75em + 0.625rem);
}
